.demo-page{
    padding-bottom: 25vh;
    padding-top: 25vh;
}

.demo{
    width: 90vw;
    height: 100vh;
    scale: 80%;
    box-shadow: 0px 0px 40px 3px grey;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}